
.stock {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 15px 0px #ccc;
    margin-bottom: 10px;
}

.details, 
.chart {
    margin: 5px;
}

@mixin text-style($weight, $color) {
    font-weight: $weight;
    color: $color;
}

.name {
    margin-bottom: 2px;
    @include text-style(500, #33a2ff);
}

.value {
    @include text-style(500, black);
}

.trend {
    font-size: .8rem;
    white-space: nowrap;
    @include text-style(500, green);
    
    &.neggative {
        color: red;
    }
}
